{"filter":false,"title":".gitignore","tooltip":"/ietore/.gitignore","undoManager":{"mark":4,"position":4,"stack":[[{"start":{"row":40,"column":0},"end":{"row":41,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":41,"column":0},"end":{"row":41,"column":5},"action":"insert","lines":["/.env"],"id":3}],[{"start":{"row":40,"column":0},"end":{"row":41,"column":0},"action":"remove","lines":["",""],"id":4}],[{"start":{"row":40,"column":0},"end":{"row":40,"column":5},"action":"remove","lines":["/.env"],"id":5,"ignore":true}],[{"start":{"row":40,"column":0},"end":{"row":40,"column":5},"action":"insert","lines":["/.env"],"id":6,"ignore":true}]]},"ace":{"folds":[],"scrolltop":120.491455078125,"scrollleft":0,"selection":{"start":{"row":40,"column":0},"end":{"row":40,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1667735766748,"hash":"2e1dd9caed5b0dc14cfc461136d8eeebea766e71"}