<h2 class="mt-3">New book</h2>
    <%= form_with model:book, local: true do |f| %>
        <div class="form-group">
            <p class="label">Title</p>
            <%= f.text_field :title %>
        </div>
        
        <div class="foem-group">
            <p class="label">Opinion</p>
            <%= f.text_area :body %>
        </div>
        
        <%= f.submit 'Create Book',class: "btn btn-success" %>
         
     <% end %>